.nav {
  max-width: 100%;
  background-color: #def1ff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}

.nav__title-container {
  display: flex;
  align-items: center;
}

.nav__title {
  margin: 10px 20px 10px 0;
}

.nav__trigger-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  margin-right: 30px;
}

.nav__trigger {
  margin-right: 5px;
}
